<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="headFragment">

        <head>
            <meta charset="utf-8">
            <title>도서 검색 결과</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/result.css">
            <link rel="stylesheet" href="/css/userbook.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
            <link rel="shortcut icon" type="image/x-icon" href="/images/Logo.png">
            
            <!-- javascript -->
            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

        </head>

    </th:block>
</html>