<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">


        <!-- 페이지 로더 -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <header>
            <div class="wrapper">
                <nav>
                <ul class="menu">
                    <li><a class="drop-in-underline" href="/">홈</a></li>
                    <li><a class="drop-in-underline" href="/auth/subsearch">검색</a></li>
                    <li><a class="drop-in-underline" href="/auth/map">지도</a></li>
                    <li sec:authorize="isAnonymous()"><a class="drop-in-underline" href="/auth/login">로그인</a></li>
                    <li sec:authorize="isAuthenticated()"><a class="drop-in-underline" href="/user/mybook">내 서제</a></li>
                    <li sec:authorize="isAuthenticated()"><a class="drop-in-underline" href="/logout">로그아웃</a></li>
                </ul>
                </nav>
            </div>
        </header>

        
    </th:block>
</html>