<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headFragment">

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="description" content="Male_Fashion Template">
            <meta name="keywords" content="Male_Fashion, unica, creative, html">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            
            <title>Library</title>

            <!-- 구글 폰트 -->
            <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

            <!-- css -->
            <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css">
            <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" type="text/css">
            <link th:href="@{css/elegant-icons.css}" rel="stylesheet" type="text/css">
            <link th:href="@{css/magnific-popup.css}" rel="stylesheet" type="text/css">
            <link th:href="@{css/nice-select.css}" rel="stylesheet" type="text/css">
            <link th:href="@{css/owl.carousel.min.css}" rel="stylesheet" type="text/css">
            <link th:href="@{css/slicknav.min.css}" rel="stylesheet" type="text/css">
            <link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
            <link th:href="@{css/index.css}" rel="stylesheet" type="text/css">
        </head>

    </th:block>
</html>