*{
    margin: 0; 
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 90%; 
    margin: 0 auto;
}
.clearfix{
    content: ''; 
    display: block; 
    clear: both;
}

header{
    height: 55px;
    background-color: none;
    position: fixed; 
    width: 100%; 
    z-index: 9999; 
    top: 0; 
    left: 0;
}

.menu{
    float: right;
}

.menu li{
    float: left;
    width: 100px;
}

.menu a{line-height: 55px;
    color: #000;
    padding: 0 15px;
    display: block;
}

nav{
    margin: 0 auto;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 18px;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    text-decoration: none;
    display: block;
}

body{
    width: 100%;
    height: 155vh;
    background-image: url('/images/SearchBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search-box{
    position: absolute;
    top: 10%;
    height: 15%;
    width: 80%;
    left: 10%;
    border-bottom: 3px solid #214C7C;
}

.search-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -250px;
    display: flex;
    padding: 6px;
    width: 500px;
    height: 50px;
    border: solid 3px #214C7C;
    background-color: #fff;
    float: right;
    font-size: 1rem;
    border-radius: 7px;
    outline: none;
}

.result-box{
    position: absolute;
    top: 35%;
    left: 20%;
    height: 800px;
    width: 60%;
}

.box-container1{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
    padding-top: 10px;
}

.box-container2{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    padding-bottom: 10px;
}

.bookimg{
    height: 100%;
    border-radius: 4%;
}

.my-book-img{
    flex: 1;
}

.book-title{
    flex: 1;
    padding-top: 7px;
    padding-left: 4px;
}

.my-title{
    font-size: 1.7vh;
    margin: 0px;
}

.ex{
    font-size: 1.5vh;
    margin: 0px;
}

.drop-in-underline {
    position: relative;
    padding-bottom: 10px;
}

.drop-in-underline:before{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0; right: 0;
    height: 2px;
    background-color: #214C7C;
}

  .drop-in-underline:before{
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
  .drop-in-underline:hover:before{
    opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnLightBlue {
  background: #2693F1;
  position: center;
  margin-top: 20px;
}

.btnPurple {
  background: #214C7C;
  position: center;
  margin-top: 10px;
}

.btnFade.btnLightBlue:hover {
  background: #0D73CE;
}

.btnFade.btnPurple:hover {
  background: #1A395E;
}