@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* body {
  font-family: "Open Sans", sans-serif;
  color: #23004d;
  width: 100vw;
  height: 100vh;
  background-image: url('./img/SearchBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

body{
  width: 100%;
  height: 140vh;
  background-image: url('/images/SearchBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 260px;
  height: 830px;
}

.form {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1.5rem;
  width: 300%;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 15px;
  text-align: center;
}

.input-group {
  position: relative;
  width: 100%;
  margin: 2rem 0;
}

.input-group input {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1rem;
  background-color: #efefef;
  border-radius: .5rem;
  border: 0.125rem solid #fff;
  outline: none;
}

.input-group input:focus {
  border: 0.125rem solid #199c6e;
}

.register__button {
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: #199c6e;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.register__button:hover {
  background-color: #65bf97;
}

.check_font {
  text-align:left;
}

.form p {
  margin: 1rem 0;
  font-size: .7rem;
  text-align: center;
}

.pointer {
  color: #199c6e;
  cursor: pointer;
  font-weight: bold;
}
