{{>layout/header}}


<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Best Sellers</li>
                    <li data-filter=".new-arrivals">New Arrivals</li>
                    <li data-filter=".hot-sales">Hot Sales</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">

            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/1.jpg"></div>
                    <div class="product__item__text">
                        <h6>작가</h6>
                        <div class="rating">별점
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>제목</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Section End -->




<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 g-4">

        <div class="col mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="img/1.jpg" class="rounded" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">도서명</h5>
                            <p class="card-text">설명</p>
                            <p class="card-text"><small class="text-muted">저작자</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="img/1.jpg" class="rounded" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">도서명</h5>
                            <p class="card-text">설명</p>
                            <p class="card-text"><small class="text-muted">저작자</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="img/1.jpg" class="rounded" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">도서명</h5>
                            <p class="card-text">설명</p>
                            <p class="card-text"><small class="text-muted">저작자</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="img/1.jpg" class="rounded" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">도서명</h5>
                            <p class="card-text">설명</p>
                            <p class="card-text"><small class="text-muted">저작자</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="img/1.jpg" class="rounded" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">도서명</h5>
                            <p class="card-text">설명</p>
                            <p class="card-text"><small class="text-muted">저작자</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{{>layout/footer}}