
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <title>로그인</title>
</head>
<body>

  <div class="login">
    <div class="login__content">

      <div class="login__img">
        <img src="https://image.freepik.com/free-vector/code-typing-concept-illustration_114360-3581.jpg" alt="user login">
      </div>

      <div class="login__forms">

      <!-- login form -->
        <form method="POST" action="/auth/login" class="login__register" id="login-in" name="loginForm">
          <h1 class="login__title">로그인</h1>
          <!-- 아이디 -->
          <div class="login__box">
            <input type="text" class="login__input" id="inputId" name="user_id" placeholder="아이디">
          </div>
           <!-- 비밀번호 -->
          <div class="login__box">
            <input type="password" class="login__input" id="inputPassword" name="password" placeholder="비밀번호">
          </div>
          <!-- <a href="#" class="login__forgot">&nbsp;비밀번호를 잊으셨나요? </a> -->
          <a href="javascript:loginForm.submit();" id="loginBtn" class="login__button--top">로그인</a>
          <a href="/" id="loginBtn" class="login__button--bottom">돌아가기</a>
          <div>
            <span class="login__account login__account--account">계정이 없으신가요?</span>
            <a href="/auth/register" class="login__signin login__signin--signup">가입하기</a>
          </div>
        </form>

      </div>

    </div>
  </div>

</body>
</html>