<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구글 맵스</title>


  
  <script defer src="js/googleMaps.js"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlicM3V_f4XSO1pigZn06BArR8RJCEv7U&callback=initMap"></script>

</head>
<body>

  <div id="map" style="height: 950px;"></div> <!-- 구글 지도 받아올 곳 -->
  <div id="pano" style="height: 950px;"></div> <!-- 구글 지도 받아올 곳 -->
  <input id="address" type="textbox" value="Sydney, NSW">
     <input type="button" value="Encode" onclick="codeAddress()">
  
</body>
</html>

