<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">


    <!-- 내 서제 페이지 -->
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="  찾고 싶은 도서를 검색해보세요!">
    </div>
    
    
      <div class="result-box">
        
        <div class="box-container1">

          <div class="my-book-img">
            <img src="/images/book.png" class="bookimg">
          </div>

        </div>

    
        <div class="box-container2">

          <div class="book-title">
            <p class="my-title">제목</p>
            <p class="ex">부가설명</p>
          </div>

      </div>


</th:block>
</html>