<!-- main page  -->
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>

    <meta charset="utf-8">
        <title>도서 검색</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/mainsearch.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/images/Logo.png">

  </head>

  <header>

    <div class="wrapper">
        <nav>
            <ul class="menu">
                <li><a class="drop-in-underline" href="/" >홈</a></li>
                <li><a class="drop-in-underline" href="/auth/subsearch">검색</a></li>
                <li><a class="drop-in-underline" href="/auth/map">지도</a></li>
                <li sec:authorize="isAnonymous()"><a class="drop-in-underline" href="/auth/login">로그인</a></li>
                <li sec:authorize="isAuthenticated()"><a class="drop-in-underline" href="/user/mybook">내 서재</a></li>
                <li sec:authorize="isAuthenticated()"><a class="drop-in-underline" href="/logout">로그아웃</a></li>
            </ul>
        </nav>
    </div>

  </header>

  <body>

    <div class="search-box">
      <button class="search-title" href="/" onclick="mainSearch()">Mouseion<span style="color: #2693F1;">'</span>s</button>
      <div class="fontsearch">
          <input type="text" class="search-txt" name="mainKeyword" id="mainKeyword" placeholder="  찾고 싶은 도서를 검색해보세요!" onkeyup="enterkey()">
          <h1><i class="fa-solid fa-magnifying-glass"></i></h1>
      </div>
    </div>
      
    <!-- 메인 검색 스크립트 -->
    <script>
      // 페이지 이동 및 값 전달 함수
      function keyMaster() {
        var mainKeyword = $("#mainKeyword").val(); // 메인 검색 페이지의 값

        location.href="/auth/subsearch"; // 페이지 이동
        localStorage.setItem('mainKeyword', mainKeyword); // 값 전달
      }

      // 클릭 하였을 때
      function mainSearch() {
        keyMaster();
      }

      // 엔터키 눌렀을 때
      function enterkey() {
        if (window.event.keyCode == 13) {
            keyMaster();
          }
      }
    </script>

    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>

</html>