<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">

<th:block layout:fragment="content">

    <!-- <div class="container">
        <h2>도서 검색</h2>
        <form action="/booksearch">
          <div class="form-group">
            <label for="keyword">키워드:</label>
            <input type="keyword" class="form-control" id="keyword" placeholder="Enter keyword" name="keyword">
          </div>
          <button type="submit" class="btn btn-primary">도서 검색</button>
        </form>
      </div> -->


</th:block>
</html>